body{
    background-color: black;
    color: white;
}
.slide1webdesignertitle{
    text-align: center;
    
}
.slide2webdesignertitle{
    text-align: center;
}
.ulslide2{
    text-align: center;
}
.lislide2{
    display: inline;
    text-align: center;
}