body{
    background-color: black;
    color: white;
}
.slide1webdesignertitle{
    text-align: center;
    
}
.slide2webdesignertitle{
    text-align: center;
}
.slide3webdesignertitle{
    text-align: center;
}
.lislide2{
    text-align: center;
}
.h3slide2{
    text-align: center;
}